<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/" class="">Home</a></li>
    <li class="breadcrumb-item active">Lançamentos</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">Lançamentos</h1>
  </div>
  <div class="col-md">
    <a routerLink="novo" class="btn btn-primary float-right">Novo Lançamento</a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Nome</th>
      <th>Categoria</th>
      <th class="text-right">Valor R$</th>
      <th class="text-center">Situação</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lancamento of lancamentos">
      <td><strong>{{lancamento.nome}}</strong><br>
        <small class="text-success mr-2">{{lancamento.data}}</small>
        <small>-</small>
        <small [class.text-success]="lancamento.despesa == false" [class.text-danger]="lancamento.despesa == true"
          class="ml-2">{{lancamento.despesaText}}</small>
        <br> <small>{{lancamento.descricao}}</small>
      </td>
      <td>{{lancamento.categoria.nome}}</td>
      <td class="text-right">
        <strong [class.text-success]="lancamento.despesa == false" [class.text-danger]="lancamento.despesa == true">
          {{lancamento.valor}}
        </strong>
      </td>
      <td class="text-center">{{lancamento.status.nome}}</td>
      <td class="text-center">
        <a [routerLink]="[lancamento.id, 'visualizar']" class="btn btn-outline-info btn-sm mr-3">Visualizar</a>
        <a [routerLink]="[lancamento.id, 'editar']" class="btn btn-outline-warning btn-sm mr-3">Editar</a>
        <button data-toggle="modal" data-target="#modalExclusao" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar Exclusão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente excluir esse registro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="excluir(lancamento)" >Sim</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary"  >Sim</button>
      </div>
    </div>
  </div>
</div>