<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/" class="">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/categorias" class="">Categorias</a></li>
    <li class="breadcrumb-item active">Formulário</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">{{tituloPagina}}</h1>
  </div>
  <div class="col-md">
    <a *ngIf="acao != 'novo'" routerLink="/categorias/novo" class="btn btn-light float-right">Nova Categoria</a>
  </div>
</div>

<form [formGroup]="formularioCategoria" (submit)="enviarFormulario()">

  <div class="card mb-4">
    <div class="card-header">
      Informações sobre a categoria
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
          <div class="text-danger"
            *ngIf="formularioCategoria.get('nome').invalid && formularioCategoria.get('nome').touched">
            <div *ngIf="formularioCategoria.get('nome').errors.required">Campo obrigatório</div>
            <div *ngIf="formularioCategoria.get('nome').errors.minlength">O campo deve ter pelo menos 3 caracteres</div>
            <div *ngIf="formularioCategoria.get('nome').errors.maxlength">O campo deve ter no maxímo 30 caracteres</div>
          </div>
        </div>
        <div class="form-group col-md-8">
          <label for="descricao">Descricao</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">
          <div class="text-danger"
            *ngIf="formularioCategoria.get('descricao').invalid && formularioCategoria.get('descricao').touched">
            <div *ngIf="formularioCategoria.get('descricao').errors.required">Campo obrigatório</div>
            <div *ngIf="formularioCategoria.get('descricao').errors.minlength">O campo deve ter pelo menos 3 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessage">
    <strong>Erro no servidor: </strong>
   <ul>
     <li>Status Code: {{serverErrorMessage.status}}</li>
     <li>Error: {{serverErrorMessage.error}}</li>
     <li>Mensagem: {{serverErrorMessage.message}}</li>
   </ul>
  </div>

  <button [disabled]="isEnviando || formularioCategoria.invalid" type="submit"
    class="btn btn-primary btn-lg float-right ml-2">Salvar</button>
  <a routerLink="/categorias" class="btn btn-light btn-lg float-right">Voltar</a>

</form>